/*Variable de couleur*/
$gris : #EAEAEA;
$background : #F3F3F3;
$green : #99E2D0;
$greenFont : #008766;
$blue : #89C8FA;
$blueFont : #003A68;
$purple : #9356DC;
$white : #FFFFFF;
/*Fin variable de couleur*/
