/*Variable de couleur*/
$gris : #EAEAEA;
$background : #F3F3F3;
$green : #99E2D0;
$greenFont : #008766;
$blue : #89C8FA;
$blueFont : #003A68;
$purple : #9356DC;
/*Fin variable de couleur*/

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}
/*!Style*/
h1 {
    font-size: 24px;
    line-height: auto;
  }
p {
    font-size: 18px;
    line-height: auto;
  }
/*!FIn Style*/
header {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;


    .header__retour {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__imgRetour {
        width: 30px;
        height: 30px;
    }


    .header__location {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__logoprincipal {
        width: 197px;
        height: 36px;
    }
}

.localisation{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:17px;
    background-color: $gris;

    .localisation__img{
    width: 12px ;
    height: 16px;
    }

    .localisation__p{
    size: 16px;
    }
}
.presentation{
    display: flex;
    background-color: $background;
    padding: 20px 0 50px 0 ;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    .presentation__h1ReserveMenu{
        width: 80%;
        text-align: center;
    }

    .presentation__DecoulesResto{
        width: 80%;
        text-align: center;
    }
    .presentation__BoutonRestau{
        width: 218px;
        height: 50px;
        display: inline-block;
        padding: 15px 30px; 
        font-weight: bold; 
        color: white; 
        text-align: center; 
        text-decoration: none; 
        background: linear-gradient(90deg, #FF79DA 0%, #9356DC 100%); 
        border: none; 
        border-radius: 50px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
}

.fonctionnement{
    width: 100%;
    display: flex;
    padding: 50px 0 50px 0 ;
    flex-direction: column;gap: 2rem;
    .fonctionnement__h1{
        padding-left: 20px;
    }

    .fonctionnement__div{
        width: 90%;
        background-color: $background;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}