@charset "UTF-8";
/*Variable de couleur*/
/*Fin variable de couleur*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  opacity: 1;
  animation: Body 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

/*annimation scss chargement pages*/
@keyframes Body {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/*Fin annimation scss chargement pages*/
/*Chargements pages*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 1s ease-in-out 2s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-annimation {
  width: 50px;
  height: 50px;
  border: 3px solid #EAEAEA;
  border-radius: 50%;
  position: relative;
  animation: rotation 1s linear infinite;
}
.loader-annimation:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #9356DC;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Fin Chargements pages*/
/*!Style*/
h1 {
  font-size: 24px;
  line-height: auto;
}

h2 {
  font-size: 18px;
  line-height: auto;
}

p {
  font-size: 16px;
  line-height: auto;
}

/*!FIn Style*/
header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
header .header__retour {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
}
header .header__imgRetour {
  width: 17px;
  height: 17px;
}
header .header__location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__logoprincipal {
  width: 197px;
  height: 36px;
}

.localisation {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  position: relative;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1024px) {
  .localisation {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
  }
}
.localisation__img {
  width: 12px;
  height: 16px;
}
.localisation__p {
  font-size: 16px;
  font-weight: 500;
}

.presentation {
  display: flex;
  background-color: #F3F3F3;
  padding: 20px 0 25px 0;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.presentation__h1ReserveMenu {
  width: 80%;
  text-align: center;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .presentation__h1ReserveMenu {
    font-size: 40px;
  }
}
.presentation__DecoulesResto {
  width: 80%;
  text-align: center;
  color: gray;
}
.presentation__BoutonRestau {
  width: 218px;
  height: 50px;
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(180deg, #FC78DA 0%, #9356DC 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.presentation__BoutonRestau:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(180deg, rgb(255, 125.02, 219.11) 0%, rgb(150.24, 91.07, 221.05) 100%);
  opacity: 0.9;
}

.fonctionnement {
  padding: 2rem;
}
.fonctionnement__h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-left: 0.1rem;
}
@media (min-width: 1024px) {
  .fonctionnement__h1 {
    padding-left: 8%;
  }
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 1024px) {
  .fonctionnement__container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0 4rem;
  }
}
.fonctionnement__step {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #F3F3F3;
}
@media (min-width: 1024px) {
  .fonctionnement__step {
    flex: 1;
    max-width: 300px;
    padding: 1.75rem 1rem;
    justify-content: center;
  }
}
.fonctionnement__nombre {
  position: absolute;
  left: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .fonctionnement__nombre {
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
.fonctionnement__icon {
  width: 1.25rem;
  height: 1.25rem;
}
.fonctionnement__text {
  margin: 0;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .fonctionnement__text {
    text-align: center;
  }
}

.restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #F3F3F3;
  align-items: center;
  padding: 30px 0;
}
.restaurants__h1 {
  width: 90%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}
@media (min-width: 1024px) {
  .restaurants__h1 {
    width: 80%;
  }
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 90%;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 25px;
  }
}
.restaurants__article {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants__article {
    width: calc(50% - 12.5px);
  }
}
.restaurants__a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.restaurants__haut {
  position: relative;
  width: 100%;
  height: 175px;
}
.restaurants__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants__badge {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 12px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-size: 14px;
}
.restaurants__bas {
  padding: 15px;
}
.restaurants__gauche {
  padding-right: 40px;
}
.restaurants__nom {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.restaurants__adresse {
  font-size: 17px;
  margin: 0;
}
.restaurants__droite {
  position: absolute;
  top: 80%;
  right: 25px;
  z-index: 2;
}
.restaurants__logocoeur {
  display: none;
}
.restaurants__logocoeur-label {
  width: 22px;
  height: 21px;
  cursor: pointer;
  display: block;
  background-image: url("images/logo/coeur.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.restaurants__logocoeur-label:hover {
  transform: scale(1.1);
}
.restaurants__logocoeur:checked + .restaurants__logocoeur-label {
  background-image: url("images/logo/coeur-plein.svg");
}

.footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 114px;
    padding-left: 0px;
  }
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__container {
    flex-direction: row-reverse;
    padding-right: 50px;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .footer__logo {
    margin-bottom: 0;
  }
}
.footer__p {
  margin: 0px;
}
.footer__logoprincipal {
  width: 100px;
  filter: invert(1);
}
.footer__blocktexte {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1024px) {
  .footer__blocktexte {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
.footer__div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__icon {
  width: 16px;
  height: 16px;
}
.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  cursor: pointer;
}
.footer__link:hover {
  text-decoration: underline;
}

.detailRecette {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.detailRecette__img {
  width: 100%;
  height: 383px;
  object-fit: cover;
}
.detailRecette__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -4rem;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .detailRecette__div {
    width: 70%;
  }
}
.detailRecette__divtitre {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .detailRecette__divtitre {
    justify-content: center;
  }
}
.detailRecette__h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  padding: 10px;
}
.detailRecette__divRecette {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
}
.detailRecette__divRecette:nth-child(2) {
  animation-delay: 0.5s; /* Entrées */
}
.detailRecette__divRecette:nth-child(3) {
  animation-delay: 1s; /* Plats */
}
.detailRecette__divRecette:nth-child(4) {
  animation-delay: 1.5s; /* Desserts */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.detailRecette__h3 {
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
}
.detailRecette__trait {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #99E2D0;
  margin: 5px 0 15px;
}
.detailRecette__detailRecette {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.detailRecette__detailRecette:hover .detailRecette__divhover {
  right: 0;
}
.detailRecette__detailRecette:hover .detailRecette__divpprix {
  width: calc(100% - 60px);
}
.detailRecette__detailRecette:hover .detailRecette__p {
  width: calc(100% - 60px);
}
.detailRecette__detailRecette:hover .detailRecette__h2 {
  width: calc(100% - 60px);
}
.detailRecette__h2 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detailRecette__divpprix {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  transition: width 0.3s ease;
}
.detailRecette__p {
  margin: 3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.3s ease;
  color: #666;
  font-size: 15px;
}
.detailRecette__prix {
  margin: 3px 0;
  font-weight: bold;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.detailRecette__divhover {
  position: absolute;
  right: -60px;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease;
  border-radius: 0 20px 20px 0;
}
.detailRecette__divhover svg {
  color: white;
  width: 24px;
  height: 24px;
}

.divbouton {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
